<style>
    #signup .km-content{background:url('blood_donnar/images/bak1.jpg') no-repeat;
              background-size:100% 100%;}
</style>

<!--This is a Registration View Page-->
    <div data-role="view" id="signup" data-title="Signup" data-layout="blood-donnar" data-model="app.Register" data-init="app.Register.init" data-show="app.Register.show">
        <!--Header-->
        <div data-role="header">
            <div data-role="navbar" style="background-color:#313D47;color:white">
                <a data-role="backbutton" data-align="left">Back</a>
                <span data-role="view-title" style="font-size:15px;color:yellow"></span>
                <a data-role="button" data-align="right" data-bind="click:signup" style="background-color:">Register</a>
            </div>
        </div>
        <form id="signUp-form">
            <div id="signUp" style="width:80%;height:auto;margin:0px auto;margin-top:8px;border:0px solid red;">
                <input type="text" name="Name" id="Name" class="k-textbox regTextbox" data-bind="value:DisplayName" placeholder="Your Name" style="margin-top:5px;height:35px;"  required/><br>
                <input type="email" name="Email" id="Email" class="k-textbox regTextbox" data-bind="value:Email" placeholder="Email Address" style="height:35px;" required/><br>
                <input type="text" name="Username" id="Username" class="k-textbox regTextbox" data-bind="value:Username" placeholder="Username" style="height:35px;" required/><br>
                <input type="password" name="Password" id="Password" class="k-textbox regTextbox" data-bind="value:Password" placeholder="Password" style="height:35px;" required/><br>
                
                <select class="k-textbox regTextbox" id="blood_group" data-bind="value:bloodGroup" style="font-size:12px;height:35px;" required>
                        <option value="0">Select Blood Group</option>
                        <option value="O Pos">O-pos</option>
                        <option value="O Neg">O-neg</option>
                        <option value="A Pos">A-pos</option>
                        <option value="A Neg">A-neg</option>
                        <option value="B Pos">B-pos</option>
                        <option value="B Neg">B-neg</option>
                        <option value="AB Pos">AB-pos</option>
                        <option value="AB Neg">AB-neg</option>
                </select><br>
                <select class="k-textbox regTextbox" id="gender" data-bind="value:Gender" style="font-size:12px;height:35px;margin-bottom:6px;" required>
                        <option value="0">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                </select>
                <input id="datepicker" data-bind="value:DOB" style="width:100%;height:30px;font-size:13px;" required/><br>
                <input type="text" name="Age" id="Age" class="k-textbox regTextbox" data-bind="value:Age" placeholder="Age" style="margin-top:8px;height:35px;" disabled/><br>
                <input id="categories" class="k-textbox regTextbox" data-bind="value:State" style="font-size:13px;" required/><br>
                <input id="products" data-bind="value:City" class="k-textbox regTextbox" style="font-size:13px;" required/><br>
                 <input type="text" data-bind="value:PinCode" name="Pincode" id="Pincode" placeholder="City Pin Code" class="k-textbox regTextbox" style="margin-bottom:8px;height:35px;" required/>
                
            </div>
            <!--<a data-role="button" data-click="My_Registration">Click</a>-->
        </form>
        <div id="signupBtnWrp"  class="signup-btn-wrp disabled" data-role="touch" data-tap="hello" style="width:80%;height:auto;margin:0px auto;margin-top:15px;border:0px solid red;margin-bottom:15px;">
              <a data-role="button" class="btn btn-signup" data-bind=""  style="width:100%;height:40px;text-align:center;line-height:20px;border-radius:10px;">Register</a>
        </div>
    </div>  