 <div style="width:100%;color:black;" id="search">
        <!--By default show search donnar view-->
        <div style="width:100;margin-top:-20px;">
            <div style="width:100%;height:40px;background-color:red;">
                <h2 style="text-align:center;line-height:40px;font-size:18px;">Search Donnar</h2>
            </div>
            <div style="width:90%;height:auto;border:0px solid black;margin:0px auto;">
               <form id="search_donnar_form">
                   <div style="width:100%;height:auto;margin:0px auto;">
                       <select class="k-textbox" id="search_blood_group" data-bind="value:blood_Group" style="margin-top:30px;height:32px;width:100%;font-size:12px;">
                            <option value="0">Select Blood Group</option>
                            <option value="1">O-pos</option>
                            <option value="2">O-neg</option>
                            <option value="3">A-pos</option>
                            <option value="4">A-neg</option>
                            <option value="5">B-pos</option>
                            <option value="6">B-neg</option>
                            <option value="7">AB-pos</option>
                            <option value="8">AB-neg</option>
                            <option value="9">A1-pos</option>
                            <option value="10">A1-neg</option>
                            <option value="11">A2-pos</option>
                            <option value="12">A2-neg</option>
                            <option value="13">A1B-pos</option>
                            <option value="14">A1B-neg</option>
                            <option value="15">A2B-pos</option>
                            <option value="16">A2B-neg</option>
               		</select><br>
                       <input type="text" name="Area" id="area" class="k-textbox" data-bind="value:Area" placeholder="Select Area" style="width:100%;height:32px;margin-top:25px;"/><br>
                       <input type="text" name="SubArea" id="sub_area" class="k-textbox" data-bind="value:Sub_Area" placeholder="Select Sub Area" style="width:100%;height:32px;margin-top:25px;"/><br>
                       
                          
                   	
                   </div>
               </form>
            </div>
        </div>
    </div>